#!/bin/bash
{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu")) -}}

# APT patckages
sudo apt update
{{ range .ubuntu.apt -}}
echo "Installing {{ . }}"
sudo apt install --yes {{ . | quote }}
{{ end -}}

# Brew packages
brew bundle --file=/dev/stdin <<EOF
{{ range .ubuntu.brew -}}
brew {{ . | quote }}
{{ end -}}
EOF

{{ end -}}