#!/bin/bash
{{ if eq .chezmoi.os "linux" -}}

{{ if eq .chezmoi.osRelease.id "bluefin" -}}
echo "Hello Bluefin!"
{{ end -}}

if ! command -v /home/linuxbrew/.linuxbrew/bin/brew 2>&1 >/dev/null; then
  echo "Installing Brew"
  NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi

/home/linuxbrew/.linuxbrew/bin/brew bundle --file=/dev/stdin <<EOF
{{ range .common.brew -}}
/home/linuxbrew/.linuxbrew/bin/brew {{ . | quote }}
{{ end -}}
EOF

{{ end -}}
