[core]
  editor = vim
  pager = delta

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
[credential]
  helper = "/mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe"
  useHttpPath = true
{{   end }}
{{ end }}

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[diff]
  algorithm = "histogram"
  compactionHeuristic = true
  context = 10
  indentHeuristic = true
  submodule = "log"

[fetch]
  prune = true

[init]
  defaultBranch = "main"

[interactive]
    diffFilter = delta --color-only

[log]
  date = "iso"

[branch]
  sort = "-committerdate"

[push]
  autoSetupRemote = true
  default = "current"

[user]
	email = {{ .email | quote }}
	name = {{ .name | quote }}

[stash]
  showPatch = true

[status]
  showStash = true
  submoduleSummary = true
