[core]
  editor = vim
  pager = delta

{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.hostname "LVD0034")) -}}
[credential]
  helper = /usr/local/bin/git-credential-manager
  useHttpPath = true
{{ end -}}

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[diff]
  algorithm = "histogram"
  compactionHeuristic = true
  context = 10
  indentHeuristic = true
  submodule = "log"

[fetch]
  prune = true

[init]
  defaultBranch = "main"

[interactive]
    diffFilter = delta --color-only

[log]
  date = "iso"

[branch]
  sort = "-committerdate"

[push]
  autoSetupRemote = true
  default = "current"

[user]
	email = {{ .email | quote }}
	name = {{ .name | quote }}

[stash]
  showPatch = true

[status]
  showStash = true
  submoduleSummary = true
