# Plugin manager - install with prefix+I, update with prefix+U
set -g @plugin 'tmux-plugins/tpm'

# Better defaults: larger history, faster key repeat, emacs keys in status
run '~/.tmux/plugins/sensible/sensible.tmux'

# Save/restore sessions across restarts
run '~/.tmux/plugins/tmux-resurrect/resurrect.tmux'

# Auto-save sessions every 5 min, auto-restore on tmux start
run '~/.tmux/plugins/tmux-continuum/continuum.tmux'

# Copy to system clipboard
run '~/.tmux/plugins/tmux-yank/yank.tmux'

# Seamless navigation between tmux panes and vim splits
run '~/.tmux/plugins/vim-tmux-navigator/vim-tmux-navigator.tmux'

set-environment -gF TMUX_PLUGIN_MANAGER_PATH '#{HOME}/.tmux/plugins'

# Set default shell
set-option -g default-shell /usr/bin/fish

# Save every 5 minutes
set -g @continuum-save-interval '5'
set -g @continuum-boot 'on'
set -g @continuum-restore 'on'

# Bind prefix to C-a
unbind C-b
set-option -g prefix C-a
bind-key C-a send-prefix

set -g status-position "top"

# More intuitive vertical and horizontal splits
bind - split-window -v -c "#{pane_current_path}"
bind | split-window -h -c "#{pane_current_path}"
unbind '"'
unbind %

# Enable mouse control (clickable windows, panes, resizable panes)
set -g mouse on

# Get into copy mode with Ctrl-g
bind-key -n 'C-g' copy-mode

# Enter copy mode with the prefix key
set-option -g mode-keys vi

# Themes
# set -g @plugin "nordtheme/tmux"
# set -g @plugin 'dracula/tmux'

# Recommended: Hack Nerd Regular, size 13
set -g @plugin 'catppuccin/tmux'
set -g @plugin 'alexwforsythe/tmux-which-key'
set -g @catppuccin_flavour 'mocha'  # default flavour
set -g @catppuccin_window_current_number ""
set -g @catppuccin_window_current_text "#{?#{!=:#{window_name},}, #W,}"
set -g @catppuccin_window_number ""
set -g @catppuccin_window_text " #I#{?#{!=:#{window_name},},  #W,}"

set -g @catppuccin_window_number_position "right"
set -g @catppuccin_window_status_style 'rounded'
set -g @catppuccin_window_flags "icon"

run '~/.tmux/plugins/catppuccin/catppuccin.tmux'
# load custom moudules
source -F '#{d:current_file}/custom_modules/ctp_memory.conf'
source -F '#{d:current_file}/custom_modules/ctp_cpu.conf'

set -g status-right-length 100
set -g status-left-length 100
set -g status-left "#{?client_prefix,#[bg=red] PREFIX #[default],}"
set -g status-right ""

set -agF status-right "#{E:@catppuccin_status_ctp_cpu}"
set -agF status-right "#{E:@catppuccin_status_ctp_memory}"
{{ if .has_battery -}}
set -agF status-right "#{E:@catppuccin_status_battery}"
{{ end -}}

set -wg automatic-rename on
set -g allow-rename off

{{ if .has_battery -}}
run '~/.tmux/plugins/tmux-battery/battery.tmux'
{{ end -}}
run '~/.tmux/plugins/tmux-cpu/cpu.tmux'

# Clipboard
set -g @yank_selection_mouse 'clipboard' # or 'primary' or 'secondary'

# Wayland clipboard integration - paste with prefix + v
bind-key v run-shell "wl-paste --no-newline | tmux load-buffer - && tmux paste-buffer -p"

set-option -sg escape-time 10
set-option -g focus-events on
set-option -a terminal-features 'xterm-256color:RGB'

# Allow passthrough of escape sequences to the outer terminal
# Required for Fish shell dynamic theme detection (OSC 11 queries)
set-option -g allow-passthrough on

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'
