# Abbreviations
abbr --add -- ga 'git add'
abbr --add -- gc 'git commit -m'
abbr --add -- gp 'git push'
abbr --add -- cm chezmoi

{{ if eq .env_type "full" -}}
abbr --add -- dcu 'devcontainer up \
--mount "type=bind,source=$HOME/.config/nvim,target=/home/vscode/.config/nvim" \
--mount "type=bind,source=$HOME/.local/share/nvim,target=/home/vscode/.local/share/nvim" \
--mount "type=bind,source=$HOME/.gitconfig,target=/home/vscode/.gitconfig" \
--remove-existing-container \
--workspace-folder (pwd)'
abbr --add -- dcb 'devcontainer build --workspace-folder (pwd)'
abbr --add -- dce 'devcontainer exec --workspace-folder (pwd)'
{{ end -}}

# Aliases
alias cat 'bat --plain'
alias eza 'eza --icons auto --git --hyperlink --group-directories-first --header'
alias grep batgrep
alias ip 'ip --color --brief'
alias la 'eza -a'
alias less 'bat --paging=always'
alias ll 'eza -l'
alias lla 'eza -la'
alias ls eza
alias lt 'eza --tree'
alias lta 'eza --tree --all'
alias man batman
alias more 'bat --paging=always'
alias tree 'exa --tree --group-directories-first'
alias v nvim
alias vi nvim
alias vim nvim
alias vimdiff 'nvim -d'
alias dotfiles-sync 'chezmoi apply && brew bundle --global && fisher update'

# Variables in Fish can be "exported". It means that they will be inherited
# by any command started by the Fish shell. Exporting is necessary for
# variables that need to be used by other programs, like could be $LESS.
# By default, variables are not exported.

# If a variable is declared Universal, the variable is immediately available
# to all the user's Fish instances in the machine. These variables are kept
# under the file ~/.config/fish/fish_variables (not tracked by chezmoi)

# A Global variable is available to all the functions running in the same
# shell where they were declared, but not accessible to programs started
# from that shell, for that the variables need to be exported.

# Interactive shell initialisation

if test -f ~/.local/bin
    fish_add_path ~/.local/bin
end

if test -d ~/bin
    fish_add_path ~/bin
end

# Enable VI key bindings
if test -n "$TERM"
    fish_vi_key_bindings
    set -g fish_cursor_default block blink
    set -g fish_cursor_insert line blink
    set -g fish_cursor_replace_one underscore blink
    set -g fish_cursor_visual block
end

# Sponge plugin config
set sponge_delay 5

if command -q nvim
    set --global --export EDITOR nvim
end

set --global --export SHELL /usr/bin/fish
set --global --export BATDIFF_USE_DELTA true
set --global --export GPG_TTY (tty)

# Ripgrep
set --global --export RIPGREP_CONFIG_PATH ~/.config/ripgrep/ripgrep.cfg
if command -q rg
    rg --generate complete-fish >~/.config/fish/completions/rg.fish
end

if test "$TERM" != dumb
    /home/linuxbrew/.linuxbrew/bin/starship init fish | source
end

eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)

batman --export-env | source
eval (batpipe)

# Include completions provided by brew
if test -d (brew --prefix)/share/fish/completions
    set --prepend fish_complete_path (brew --prefix)/share/fish/completions
end
if test -d (brew --prefix)/share/fish/vendor_completions.d
    set --prepend fish_complete_path (brew --prefix)/share/fish/vendor_completions.d
end
{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.hostname "LVD0034")) -}}

set --global --export GCM_CREDENTIAL_STORE gpg
set --global --export GPG_TTY (tty)
{{ end -}}

atuin init fish --disable-up-arrow | source

# Theme configuration - uses Catppuccin with automatic light/dark switching
# Fish 4.3+ automatically switches between Mocha (dark) and Latte (light)
# based on the terminal's color scheme via $fish_terminal_color_theme
# The catppuccin-mocha theme includes Latte as its light variant

# Set colors directly for Catppuccin Mocha (dark) as default
# These will be overwritten by fish_config theme choose when terminal reports color scheme
set -g fish_color_normal cdd6f4
set -g fish_color_command 89b4fa
set -g fish_color_param f2cdcd
set -g fish_color_keyword cba6f7
set -g fish_color_quote a6e3a1
set -g fish_color_redirection f5c2e7
set -g fish_color_end fab387
set -g fish_color_comment 7f849c
set -g fish_color_error f38ba8
set -g fish_color_gray 6c7086
set -g fish_color_selection --background=313244
set -g fish_color_search_match --background=313244
set -g fish_color_option a6e3a1
set -g fish_color_operator f5c2e7
set -g fish_color_escape eba0ac
set -g fish_color_autosuggestion 6c7086
set -g fish_color_cancel f38ba8
set -g fish_color_cwd f9e2af
set -g fish_color_user 94e2d5
set -g fish_color_host 89b4fa
set -g fish_color_host_remote a6e3a1
set -g fish_color_status f38ba8
set -g fish_pager_color_progress 6c7086
set -g fish_pager_color_prefix f5c2e7
set -g fish_pager_color_completion cdd6f4
set -g fish_pager_color_description 6c7086

# Function to apply Catppuccin theme based on color scheme
function __apply_catppuccin_theme --on-variable fish_terminal_color_theme
    if test "$fish_terminal_color_theme" = light
        # Catppuccin Latte (light)
        set -g fish_color_normal 4c4f69
        set -g fish_color_command 1e66f5
        set -g fish_color_param dd7878
        set -g fish_color_keyword 8839ef
        set -g fish_color_quote 40a02b
        set -g fish_color_redirection ea76cb
        set -g fish_color_end fe640b
        set -g fish_color_comment 8c8fa1
        set -g fish_color_error d20f39
        set -g fish_color_gray 9ca0b0
        set -g fish_color_selection --background=ccd0da
        set -g fish_color_search_match --background=ccd0da
        set -g fish_color_option 40a02b
        set -g fish_color_operator ea76cb
        set -g fish_color_escape e64553
        set -g fish_color_autosuggestion 9ca0b0
        set -g fish_color_cancel d20f39
        set -g fish_color_cwd df8e1d
        set -g fish_color_user 179299
        set -g fish_color_host 1e66f5
        set -g fish_color_host_remote 40a02b
        set -g fish_color_status d20f39
        set -g fish_pager_color_progress 9ca0b0
        set -g fish_pager_color_prefix ea76cb
        set -g fish_pager_color_completion 4c4f69
        set -g fish_pager_color_description 9ca0b0
        set -gx BAT_THEME "Catppuccin Latte"
        set -gx DELTA_FEATURES "+catppuccin-latte"
    else
        # Catppuccin Mocha (dark)
        set -g fish_color_normal cdd6f4
        set -g fish_color_command 89b4fa
        set -g fish_color_param f2cdcd
        set -g fish_color_keyword cba6f7
        set -g fish_color_quote a6e3a1
        set -g fish_color_redirection f5c2e7
        set -g fish_color_end fab387
        set -g fish_color_comment 7f849c
        set -g fish_color_error f38ba8
        set -g fish_color_gray 6c7086
        set -g fish_color_selection --background=313244
        set -g fish_color_search_match --background=313244
        set -g fish_color_option a6e3a1
        set -g fish_color_operator f5c2e7
        set -g fish_color_escape eba0ac
        set -g fish_color_autosuggestion 6c7086
        set -g fish_color_cancel f38ba8
        set -g fish_color_cwd f9e2af
        set -g fish_color_user 94e2d5
        set -g fish_color_host 89b4fa
        set -g fish_color_host_remote a6e3a1
        set -g fish_color_status f38ba8
        set -g fish_pager_color_progress 6c7086
        set -g fish_pager_color_prefix f5c2e7
        set -g fish_pager_color_completion cdd6f4
        set -g fish_pager_color_description 6c7086
        set -gx BAT_THEME "Catppuccin Mocha"
        set -gx DELTA_FEATURES "+catppuccin-mocha"
    end
end

# Initialize tool themes
set -gx BAT_THEME "Catppuccin Mocha"
set -gx DELTA_FEATURES "+catppuccin-mocha"

# Lazygit uses a function to pick the right theme dynamically
function lg --wraps=lazygit --description "lazygit with dynamic Catppuccin theme"
    if test "$fish_terminal_color_theme" = light
        command lazygit --use-config-file="$HOME/.config/lazygit/config.yml,$HOME/.config/lazygit/themes/catppuccin/themes-mergable/latte/yellow.yml" $argv
    else
        command lazygit --use-config-file="$HOME/.config/lazygit/config.yml,$HOME/.config/lazygit/themes/catppuccin/themes-mergable/mocha/yellow.yml" $argv
    end
end
