# Abbreviations
abbr --add -- ga 'git add'
abbr --add -- gc 'git commit -m'
abbr --add -- gp 'git push'
abbr --add -- cm chezmoi
abbr --add -- ip 'ip --color --brief'
abbr --add -- la 'eza --all'
abbr --add -- ll 'eza --long'
abbr --add -- lla 'eza --long --all'
abbr --add -- ls eza
abbr --add -- lt 'eza --tree'
abbr --add -- lta 'eza --tree --all'
abbr --add -- tree 'eza --tree --group-directories-first'
abbr --add -- v vim
abbr --add -- vimdiff 'nvim -d'
abbr --add -- dotfiles-sync 'chezmoi apply && brew bundle --global && fisher update'

# Aliases (command replacements)
alias vim nvim
alias vi vim
alias cat 'bat --plain'
alias eza 'eza --icons auto --git --hyperlink --group-directories-first --header'
alias grep batgrep
alias less 'bat --paging=always'
alias man batman
alias more 'bat --paging=always'
alias occ opencode_container
alias ccc claude_container

# Variables in Fish can be "exported". It means that they will be inherited
# by any command started by the Fish shell. Exporting is necessary for
# variables that need to be used by other programs, like could be $LESS.
# By default, variables are not exported.

# If a variable is declared Universal, the variable is immediately available
# to all the user's Fish instances in the machine. These variables are kept
# under the file ~/.config/fish/fish_variables (not tracked by chezmoi)

# A Global variable is available to all the functions running in the same
# shell where they were declared, but not accessible to programs started
# from that shell, for that the variables need to be exported.

# Interactive shell initialisation

if test -d ~/.local/bin
    fish_add_path ~/.local/bin
end

if test -d ~/bin
    fish_add_path ~/bin
end

# Enable VI key bindings
if test -n "$TERM"
    fish_vi_key_bindings
    set --global fish_cursor_default block blink
    set --global fish_cursor_insert line blink
    set --global fish_cursor_replace_one underscore blink
    set --global fish_cursor_visual block
end

# Sponge plugin config
set --global sponge_delay 5

if command --query vim
    set --global --export EDITOR vim
    set --global --export GIT_EDITOR vim
end

set --global --export SHELL /usr/bin/fish
set --global --export COLORTERM truecolor
set --global --export BATDIFF_USE_DELTA true
set --global --export GPG_TTY (tty)

# Ripgrep
set --global --export RIPGREP_CONFIG_PATH ~/.config/ripgrep/ripgrep.cfg
if test "$TERM" != dumb
    /home/linuxbrew/.linuxbrew/bin/starship init fish | source
end

/home/linuxbrew/.linuxbrew/bin/brew shellenv | source

batman --export-env | source
batpipe | source

# Include completions provided by brew
if test -d (brew --prefix)/share/fish/completions
    set --prepend fish_complete_path (brew --prefix)/share/fish/completions
end
if test -d (brew --prefix)/share/fish/vendor_completions.d
    set --prepend fish_complete_path (brew --prefix)/share/fish/vendor_completions.d
end
{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.hostname "LVD0034")) -}}

set --global --export GCM_CREDENTIAL_STORE gpg
{{ end -}}

atuin init fish --disable-up-arrow | source

# Override system fish_greeting (Bluefin MOTD)
source ~/.config/fish/functions/fish_greeting.fish
